@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ================================== */

@media screen and (max-width: 600px){
    .cont-1{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        align-items: center;
    }
    .cont-1 .text{
        width: 100%;
        /* border: 1px solid red; */
    }
    .cont-1 .text .head-text{
        font-size: 18px;
        color: #BA9A63;
        font-weight: 600;
        letter-spacing: .5px;
    }
    .cont-1 .text h1{
        font-size: 45px;
        line-height: 50px;
        font-weight: 600;
        color: #212529;
    }
    .cont-1 .text p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #4F4F4F;
    }
    .cont-1 .text .btn-1{
        background-color:#BA9A63;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 18px 40px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        color: #fff;
        fill: #fff;
        text-align: center;
        transition: all .3s;
    }
    .cont-1 .pic{
        width: 100%;
        margin-top: 40px;
        /* border: 1px solid red; */
        text-align: center;
    }
    .cont-1 .pic img{
        width: 100%;
    }
}

/* ================================= */

@media screen and (max-width: 600px){
    .cont-2{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        justify-content: space-between;
    }
    .cont-2 .box{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
    }
    .cont-2 .box .pic{
        margin-right: 15px;
    }
    .cont-2 .box .pic svg{
        width: 80px;
    }
}

/* ================================ */

@media screen and (max-width: 600px){
    .cont-3{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        align-items: center;
    }
    .cont-3 .text{
        width: 100%;
        /* border: 1px solid red; */
    }
    .cont-3 .text .head-text{
        font-size: 18px;
        color: #BA9A63;
        font-weight: 600;
        letter-spacing: .3px;
    }
    .cont-3 .text h2{
        font-weight: 600;
        font-size: 35px;
        color: #212529;
    }
    .cont-3 .text p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #4F4F4F;
        text-align: justify;
    }
    .cont-3 .text .btn-1{
        background-color:#BA9A63;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 18px 40px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        color: #fff;
        fill: #fff;
        text-align: center;
        transition: all .3s;
    }
    .cont-3 .pic{
        width: 100%;
        /* border: 1px solid red; */
        text-align: center;
    }
    .cont-3 .pic img{
        width: 100%;
    }
}

/* ======================================== */

@media screen and (max-width: 600px){
    .cont-4{
        /* border: 1px solid red; */
        padding: 30px;
        background-color: #21212C;
        background-image: url(img/Support-Bg-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: block;
        align-items: center;
    }
    .cont-4 .text{
        width: 100%;
        /* border: 1px solid red; */
    }
    .cont-4 .text .head-text{
        font-size: 18px;
        color: #BA9A63;
        font-weight: 600;
        letter-spacing: .5px;
    }
    .cont-4 .text h2{
        font-weight: 600;
        font-size: 35px;
        color: white;
    }
    .cont-4 .text p{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0px;
        color: rgb(237, 237, 237);
    }
    .cont-4 .text .btn-1{
        background-color:#BA9A63;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 18px 40px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        color: #fff;
        fill: #fff;
        text-align: center;
        transition: all .3s;
    }
    .cont-4 .pic{
        width: 100%;
        /* border: 1px solid red; */
        text-align: center;
    }
    .cont-4 .pic img{
        width: 100%;
    }
}

/* ======================================= */

@media screen and (max-width: 600px){
    .cont-5{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        /* align-items:end; */
    }
    .cont-5 .pic{
        width: 100%;
        text-align: center;
        /* border: 1px solid red; */
    }
    .cont-5 .pic img{
        width: 100%;
        display: none;
    }
    .cont-5 .text{
        width: 100%;
        /* border: 1px solid red; */
    }
    .cont-5 .text h2{
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: #212529;
    }
    .cont-5 .text p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #4F4F4F;
    }
    /* .cont-5 .text .boxs{
    
    } */
    .cont-5 .text .boxs .box{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .cont-5 .text .boxs .box .pic{
        width: fit-content;
        margin-right: 20px;
    }
    .cont-5 .text .boxs .box svg{
        width: 70px;
    }
    .cont-5 .text .boxs .box h3{
        font-weight: 600;
        font-size: 20px;
    }
    .cont-5 .text .boxs .box p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: .5px;
    }
}

/* ======================================= */

@media screen and (max-width: 600px){
    .cont-7 {
        padding: 30px;
    }
    
    .cont-7 .text {
        /* border: 1px solid red; */
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    
    .cont-7 .text h2 {
        font-weight: 600;
        font-size: 35px;
        letter-spacing: 0px;
        text-transform: none;
        color: #222222;
    }
    
    .cont-7 .text p {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #4F4F4F;
    }
    
    .cont-7 .boxs {
        /* border: 1px solid red; */
        display: block;
        /* justify-content: space-between; */
        margin: 20px 0;
        padding: 15px 0;
        box-sizing: none;
    }
    
    .cont-7 .boxs .box {
        border: 1px solid #eaeaea;
        border-radius: 5px;
        width: 100%;
        height: fit-content;
        padding: 20px;
        margin: 20px 0;
        text-align: center;
        background: #fff;
        transition: .3s ease;
    }
}

/* ======================================== */

@media screen and (max-width: 600px){
    .cont-6{
        /* border: 1px solid red; */
        padding: 30px;
    }
    .cont-6 .text{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .cont-6 .text h2{
        font-weight: 600;
        font-size: 35px;
        color: #212529;
    }
    .cont-6 .text p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #4F4F4F;
    }
    
    .cont-6 .faq{
        width: 100%;
        margin: 0 auto;
    }
    .cont-6 .faq .accordion-item{
        border: none;
        border-style: none;
        box-shadow: none;
    }
    .cont-6 .faq .accordion-button {
        color: #222222;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 32px;
        padding: 7px 20px;
        border: 0;
        border-radius: 4px;
        background-color: #fff;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        margin: 20px 0;
        
    }
    
    .cont-6 .faq #acc-cont {
        padding: 5px 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
    }
}

/* ======================================== */

@media screen and (max-width: 600px){
    .cont-8{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        align-items: center;
        background-color: #21212C;
        background-image: url(img/Contact-Bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .cont-8 .pic{
        width: 100%;
        text-align: center;
    }
    .cont-8 .pic img{
        width: 100%;
    }
    .cont-8 form{
        width: 100%;
        margin-top: 10px;
    }
    .cont-8 form h2{
        font-weight: 600;
        font-size: 35px;
        color: white;
        font-family: 'Playfair Display';
    }
}

/* ============================== */

@media screen and (max-width: 600px){
    footer{
        /* border: 1px solid red; */
        padding: 30px;
        display: block;
        justify-content: space-between;
        background: #EEEBE6;
    }
    footer .box{
        /* border: 1px solid red; */
        width: 100%;
        padding: 0px;
    }
    footer .box h6{
        font-size: 22px;
        font-weight: 500;
        color: #18181f;
        line-height: 24px;
        margin: 30px 0;
    }
    footer .box strong{
        font-size: 16px;
        font-weight: 500;
        color: #18181f;
    }
    footer .box span{
        font-size: 16px;
        font-weight: 400;
        color: #BA9A63;
    }
    footer .box a{
        font-size: 16px;
        font-weight: 300;
        color: #696969;
        letter-spacing: .5px;
        text-decoration: none;
        line-height: 35px;
        transition: .3s ease;
    }
    footer .box a:hover{
        transition: .3s ease;
        color: #BA9A63;
        border-bottom: 1px solid #BA9A63;
    }
    footer .box small{
        /* border: 1px solid red; */
        font-size: 12px;
        padding: 0px 7px;
        border-radius: 3px;
        color: #fff;
        background: #BA9A63;
    }
    footer .box p{
        font-size: 16px;
        font-weight: 400;
        color: #696969;
    }
    footer .box form{
        display: flex;
    }
    footer .box input{
        width: 90%;
        padding: 10px;
        display: block;
        background-color: #f4f4f4;
        border-radius: 20px;
        border: 1px solid rgb(214, 214, 214);
        color: #444;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        line-height: normal;
        box-sizing: border-box;
    }
    footer .box input:focus{
        outline: none;
    }
    footer .box button{
        border-style: none;
        width: 40px;
        height: 40px;
        background-color: #BA9A63;
        border-radius: 50%;
        background-image: none;
        text-shadow: none;
        color: #fff;
        font-size: 14px;
        line-height: 50%;
        margin: 0 10px;
        box-sizing: border-box;
        padding: 10px 12px;
        transition: .3s ease;
    }
    footer .box button:hover{
        background: #000;
        transition: .3s ease;
    }
    footer .media-1 a{
        text-decoration: none;
        margin: 0 5px;
    }
    footer .media-1 a:hover{
        border: none;
    }
}