* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #EEEBE6;
    background-image: url(img/content-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display';
}

/* ================================== */

.topnav {
    overflow: hidden;
    /* position: sticky; */
    /* top: 0; */
    /* border: 1px solid red; */
    padding: .2in .5in;
    align-items: center;
    background-color: #ffffff00;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.topnav a {
    float: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    /* border: 1px solid red; */
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.topnav .active {
    color:#BA9A63;
}

.topnav a:hover {
    /* background-color: #ddd; */
    color: #BA9A63;
    transition: all 0.5s ease;
}

.topnav a.left {
    /* background-color: #04AA6D; */
    /* border: 1px solid green; */
    padding: 0;
    color: #000;
    float: left;
}

.topnav .icon {
    display: none;
}



/* ================================ */

.cont-1{
    /* border: 1px solid red; */
    padding: .5in;
    display: flex;
    align-items: center;
}
.cont-1 .text{
    width: 50%;
    /* border: 1px solid red; */
}
.cont-1 .text .head-text{
    font-size: 20px;
    color: #BA9A63;
    font-weight: 600;
    letter-spacing: .5px;
}
.cont-1 .text h1{
    font-size: 66px;
    line-height: 74px;
    font-weight: 600;
    color: #212529;
}
.cont-1 .text p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #4F4F4F;
}
.cont-1 .text .btn-1{
    background-color:#BA9A63;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}
.cont-1 .pic{
    width: 50%;
    /* border: 1px solid red; */
    text-align: right;
}

/* ================================== */

.cont-2{
    /* border: 1px solid red; */
    padding: .5in;
    display: flex;
    justify-content: space-between;
}
.cont-2 .box{
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
}
.cont-2 .box .pic{
    margin-right: 15px;
}
.cont-2 .box .pic svg{
    width: 102px;
}

/* ==================================== */

.cont-3{
    /* border: 1px solid red; */
    padding: .5in;
    display: flex;
    align-items: center;
}
.cont-3 .text{
    width: 60%;
    /* border: 1px solid red; */
}
.cont-3 .text .head-text{
    font-size: 20px;
    color: #BA9A63;
    font-weight: 600;
    letter-spacing: .5px;
}
.cont-3 .text h2{
    font-weight: 600;
    font-size: 40px;
    color: #212529;
}
.cont-3 .text p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #4F4F4F;
}
.cont-3 .text .btn-1{
    background-color:#BA9A63;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}
.cont-3 .pic{
    width: 40%;
    /* border: 1px solid red; */
    text-align: left;
}

/* =================================== */

.cont-4{
    /* border: 1px solid red; */
    padding: .5in;
    background-color: #21212C;
    background-image: url(img/Support-Bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
.cont-4 .text{
    width: 60%;
    /* border: 1px solid red; */
}
.cont-4 .text .head-text{
    font-size: 20px;
    color: #BA9A63;
    font-weight: 600;
    letter-spacing: .5px;
}
.cont-4 .text h2{
    font-weight: 600;
    font-size: 40px;
    color: white;
}
.cont-4 .text p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(237, 237, 237);
}
.cont-4 .text .btn-1{
    background-color:#BA9A63;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}
.cont-4 .pic{
    width: 40%;
    /* border: 1px solid red; */
    text-align: left;
}

/* ================================= */

.cont-5{
    /* border: 1px solid red; */
    padding: .5in;
    display: flex;
    align-items:end;
}
.cont-5 .pic{
    width: 45%;
    /* border: 1px solid red; */
}
.cont-5 .pic img{
    width: 100%;
}
.cont-5 .text{
    width: 55%;
    /* border: 1px solid red; */
}
.cont-5 .text h2{
    font-weight: 600;
    font-size: 40px;
    color: #212529;
}
.cont-5 .text p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #4F4F4F;
}
/* .cont-5 .text .boxs{

} */
.cont-5 .text .boxs .box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cont-5 .text .boxs .box .pic{
    width: fit-content;
    margin-right: 20px;
}
.cont-5 .text .boxs .box svg{
    width: 85px;
}
.cont-5 .text .boxs .box h3{
    font-weight: 600;
    font-size: 25px;
}
.cont-5 .text .boxs .box p{
    font-weight: 400;
    font-size: 16px;
}
.cont-5 .text .btn-1{
    background-color:#BA9A63;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}


/* ================================== */

.cont-7 {
    /* border: 1px solid red; */
    padding: .5in;
    /* padding-bottom: .3in; */
    /* background: #F6FBFF; */
    /* background-image: url(img/marketing-testimonial-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center; */
}

.cont-7 .text {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.cont-7 .text h2 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0px;
    text-transform: none;
    color: #222222;
}

.cont-7 .text p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #4F4F4F;
}

.cont-7 .boxs {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px 0;
    box-sizing: none;
}

.cont-7 .boxs .box {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 30%;
    height: fit-content;
    padding: 20px;
    text-align: center;
    background: #fff;
    transition: .3s ease;
}

.cont-7 .boxs .box:hover {
    transition: .3s ease;
    border-color: transparent;
    border-bottom: 5px solid #BA9A63;
    margin-top: -20px;
}

.cont-7 .boxs .box p {
    font-size: 16px;
    font-weight: 300;
    color: #696969;
    line-height: 30px;
    margin-bottom: 0;
}

.cont-7 .boxs .box h6 {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cont-7 .boxs .box small {
    color: #696969;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.cont-7 .boxs .box img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin: 20px 0;
}

/* ============================ */

.cont-6{
    /* border: 1px solid red; */
    padding: .5in;
}
.cont-6 .text{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.cont-6 .text h2{
    font-weight: 600;
    font-size: 40px;
    color: #212529;
}
.cont-6 .text p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #4F4F4F;
}

.cont-6 .faq{
    width: 60%;
    margin: 0 auto;
}
.cont-6 .faq .accordion-item{
    border: none;
    border-style: none;
    box-shadow: none;
}
.cont-6 .faq .accordion-button {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 32px;
    padding: 7px 25px;
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    margin: 20px 0;
    
}

.cont-6 .faq .accordion-button:not(.collapsed) {
    background-color: #ffffff00;
    border-style: none;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.cont-6 .faq .accordion-button:focus {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 32px;
    padding: 7px 25px;
    border: 0;
    border-radius: 4px;
    background-color: #BA9A63;
    box-shadow: none;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.cont-6 .faq #acc-cont {
    padding: 10px 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
}

/* ===================================== */

.cont-8{
    /* border: 1px solid red; */
    padding: .5in;
    display: flex;
    align-items: center;
    background-color: #21212C;
    background-image: url(img/Contact-Bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.cont-8 .pic{
    width: 50%;
    text-align: center;
}
.cont-8 form{
    width: 50%;
}
.cont-8 form h2{
    font-weight: 600;
    font-size: 40px;
    color: white;
    font-family: 'Playfair Display';
}
.cont-8 form p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(206, 206, 206);
}
.cont-8 form input{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    color: #21212C;
}
.cont-8 form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
}
.cont-8 form input:focus{
    outline: none;
}
.cont-8 form textarea:focus{
    outline: none;
}
.cont-8 form button{
    background-color:#BA9A63;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    color: #fff;
    fill: #fff;
    text-align: center;
    border-style: none;
}

/* ================================== */

footer{
    /* border: 1px solid red; */
    padding: .1in .8in;
    display: flex;
    justify-content: space-between;
    background: #EEEBE6;
}
footer .box{
    /* border: 1px solid red; */
    width: 25%;
    padding: 30px;
}
footer .box h6{
    font-size: 25px;
    font-weight: 500;
    color: #18181f;
    line-height: 24px;
    margin: 30px 0;
}
footer .box strong{
    font-size: 16px;
    font-weight: 500;
    color: #18181f;
}
footer .box span{
    font-size: 16px;
    font-weight: 400;
    color: #BA9A63;
}
footer .box a{
    font-size: 16px;
    font-weight: 300;
    color: #696969;
    letter-spacing: .5px;
    text-decoration: none;
    line-height: 35px;
    transition: .3s ease;
}
footer .box a:hover{
    transition: .3s ease;
    color: #BA9A63;
    border-bottom: 1px solid #BA9A63;
}
footer .box small{
    /* border: 1px solid red; */
    font-size: 12px;
    padding: 0px 7px;
    border-radius: 3px;
    color: #fff;
    background: #BA9A63;
}
footer .box p{
    font-size: 16px;
    font-weight: 400;
    color: #696969;
}
footer .box form{
    display: flex;
}
footer .box input{
    width: 90%;
    padding: 10px;
    display: block;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 1px solid rgb(214, 214, 214);
    color: #444;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
}
footer .box input:focus{
    outline: none;
}
footer .box button{
    border-style: none;
    width: 40px;
    height: 40px;
    background-color: #BA9A63;
    border-radius: 50%;
    background-image: none;
    text-shadow: none;
    color: #fff;
    font-size: 14px;
    line-height: 50%;
    margin: 0 10px;
    box-sizing: border-box;
    padding: 10px 12px;
    transition: .3s ease;
}
footer .box button:hover{
    background: #000;
    transition: .3s ease;
}
footer .media-1 a{
    text-decoration: none;
    margin: 0 5px;
}
footer .media-1 a:hover{
    border: none;
}